---
import { formatDate } from '@utils/formatDate';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

interface Props {
  article: CollectionEntry<'articles'>;
  authors: CollectionEntry<'authors'>[];
}

const {
  article: { data, render },
  authors,
} = Astro.props;
const { title, date, theme, summary, images } = data;
const { remarkPluginFrontmatter } = await render();
---

<div class={`bg-io_${theme}-500 pb-14 pt-24 white ${images?.length > 0 ? 'mb-72' : 'mb-12'}`}>
  <div class="container mx-auto">
    <h1 class="heading-title text-4xl font-medium xl:text-7xl">
      {title}
    </h1>
    <div class="my-4 divide-x">
      <p class="inline pr-2 text-xl font-light">
        By {authors.map((author) => author.data.name).join(', ')}
      </p>
      <time class="inline px-2 font-light" datetime={date}>
        {
          formatDate(date, {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
          })
        }
      </time>
      <p class="inline pl-2 font-light">
        <Icon name="clock" class="mr-2 inline w-4" />
        {remarkPluginFrontmatter.minutesRead}
      </p>
    </div>
    <div class="grid grid-cols-4">
      <p class="col-span-full col-start-1 text-2xl md:col-start-2 xl:col-start-3">
        {summary}
      </p>
    </div>

    {
      images?.length > 0 && (
        <div class="-mt-20 translate-y-32 md:-mt-64 md:translate-y-72">
          <Image src={images[0]} alt={title} width={1280} height={720} />
        </div>
      )
    }
  </div>
</div>
