---
import {formatDate} from '@utils/formatDate'
import type { CollectionEntry } from 'astro:content'

interface Props {
  article: CollectionEntry<'articles'>
  authors: CollectionEntry<'authors'>[]
}

const { article, authors } = Astro.props
---

<header class="grid grid-col-2">
  <div class="col-start-1 col-end-3">
    <h1 class="text-4xl">{article.data.title}</h1>
    <div class="my-4 divide-x">
      <p class="inline pr-2 text-xl font-light">
        By {authors.map((author) => author.data.name).join(', ')}
      </p>
      <time class="inline px-2 font-light" datetime={article.data.date}>
        {formatDate(article.data.date)}
      </time>
    </div>
  </div>
  <div class="col-span-full col-start-1 text-2xl">
    {article.data.summary}
  </div>
</header>
