---
import type { Serie } from '@types';

interface Props {
  series: Serie;
}

const {
  series: { serie, articles, title },
} = Astro.props;
---

<div class="rounded-lg bg-slate-50 p-4">
  <h4 class="teaser-title text-md font-medium text-gray-600">
    <a href={`/series/${serie}`}>
      <div class={`text-io_blue-600 hover:text-io_blue-700 dark:hover:text-primary-400 text-sm`}>
        {title}
      </div>
    </a>
  </h4>
  <hr class="my-2" />
  <ol class="flex flex-col gap-4 pt-2 text-sm">
    {
      articles.map(({ slug, data: { title } }, index) => (
        <li>
          <a href={`/articles/${slug}`}>
            <div
              class={`text-io_blue-600 hover:text-io_blue-700 dark:hover:text-primary-400 ${
                Astro.url.pathname === `/articles/${slug}`
                  ? `bg-io_blue-100 -m-2 rounded-lg p-2`
                  : ''
              }`}
            >
              <strong class="font-bold text-sm">Part {index + 1}: </strong>
              <div>{title}</div>
            </div>
          </a>
        </li>
      ))
    }
  </ol>
  {articles.length === 1 && <p class="mt-4 text-center text-gray-400">Next article coming soon!</p>}
</div>
