---
import Article from '@components/Article.astro';
import Contributors from '@components/Contributors.astro';
import Events from '@components/Events.astro';
import Jobs from '@components/Jobs.astro';
import Videos from '@components/Videos.astro';
import siteMetadata from '@constants/siteMetadata';
import BaseLayout from '@layouts/BaseLayout.astro';
import { getLatestArticles } from '@utils/articles';
import { getAuthors } from '@utils/authors';
import { getLatestEvents } from '@utils/events';
import { Icon } from 'astro-icon/components';
import '../styles/global.css';
import { getLatestJobs } from '../utils/jobs';
import { getLatestVideos } from '../utils/videos';

const authors = await getAuthors();
const articles = await getLatestArticles(5);
const jobs = getLatestJobs(9);
const videos = getLatestVideos(10);
const events = getLatestEvents(6);
---

<BaseLayout title={siteMetadata.author} description={siteMetadata.description}>
  <section>
    <h2>Our latest <span>articles</span></h2>
    <ul>
      {
        articles.map((article) => (
          <li>
            <Article article={article} />
          </li>
        ))
      }
    </ul>

    <footer>
      <a href="/articles">
        <span>All Posts</span>
        <Icon name="arrow" />
      </a>
    </footer>
  </section>

  <section>
    <h2>Our amazing <span>writers</span> & <span>speakers</span></h2>
    <Contributors contributors={authors} />
  </section>

  <section>
    <h2>Our latest <span>videos</span></h2>
    <Videos videos={videos} />

    <footer>
      <a href="/videos">
        <span>All Videos</span>
        <Icon name="arrow" />
      </a>
    </footer>
  </section>

  <section>
    <h2>Our latest <span>events</span></h2>
    <Events events={events} />
    <footer>
      <a href="https://covenofwisdom.io" target="_blank">
        <span>All Events</span>
        <Icon name="external-link" />
      </a>
    </footer>
  </section>

  <section>
    <h2>Some of our <span>jobs</span></h2>
    <Jobs jobs={jobs} />
  </section>
</BaseLayout>

<style>
  h2 {
    @apply py-8 text-center text-3xl font-medium text-gray-900 sm:text-4xl md:text-7xl xl:col-span-3 xl:col-start-2;
  }

  span {
    @apply font-serif font-light;
  }

  section {
    footer {
      @apply flex justify-end;
    }
  }

  a {
    @apply flex gap-3 items-center border border-black py-2 px-6 rounded-3xl;
  }
</style>
