---
import { Image } from "astro:assets";
import { getEntries, type CollectionEntry } from "astro:content";
interface Props {
  url: string;
  article: CollectionEntry<"articles">;
}

const { url, article } = Astro.props;

const authors = await getEntries(article.data.authors);
---

<div class="grid grid-cols-12 my-10 bg-slate-200 p-5 rounded-lg">
  <header class="col-span-5">
    <ul class="flex gap-10 items-center">
      {
        authors.map(({ data }) => (
          <li class="flex gap-2 flex-col items-center">
            {data.avatar && (
              <Image
                src={data.avatar}
                alt={data.name}
                width={150}
                height={150}
                class="rounded-full"
              />
            )}
            <h2>{data.name}</h2>
          </li>
        ))
      }
    </ul>
  </header>
  <article class="col-start-7 col-span-full flex gap-5 flex-col">
    <h1 class="text-xl">
      <a href={url}>
        {article.data.title}
      </a>
      {article.data.serie && <span class="text-sm text-slate-500">SERIES</span>}
    </h1>

    <p class="text-base">{article.data.summary}</p>
  </article>
</div>
