---
import { Icon } from 'astro-icon/components';
import { type Author } from '../utils/authors';

interface Props {
  socials: Pick<Author['data'], 'github' | 'linkedin' | 'medium' | 'twitter' | 'website'>;
  name: string;
  renderAxis: 'horizontal' | 'vertical';
}

const { socials, name, renderAxis } = Astro.props;
---

<div
  class="flex flex-wrap gap-2 text-sm"
  class:list={[{ 'flex-col gap-2': renderAxis === 'vertical' }]}
>
  {
    socials.linkedin && (
      <>
        <dt class="sr-only">LinkedIn</dt>
        <dd>
          <a
            class="h flex items-center transition text-gray-700 hover:text-gray-800"
            target="_blank"
            rel="noopener noreferrer"
            href={socials.linkedin}
          >
            <Icon name="linkedin" size={24} />
            <span class="ml-1">{name}</span>
          </a>
        </dd>
      </>
    )
  }
  {
    socials.twitter && (
      <>
        <dt class="sr-only">Twitter</dt>
        <dd>
          <a
            class="h flex items-center transition text-gray-700 hover:text-gray-800"
            target="_blank"
            rel="noopener noreferrer"
            href={socials.twitter}
          >
            <Icon name="twitter" size={24} />
            <span class="ml-1">{socials.twitter.replace('https://twitter.com/', '@')}</span>
          </a>
        </dd>
      </>
    )
  }
  {
    socials.github && (
      <>
        <dt class="sr-only">Github</dt>
        <dd>
          <a
            class="h flex items-center transition text-gray-700 hover:text-gray-800"
            target="_blank"
            rel="noopener noreferrer"
            href={socials.github}
          >
            <Icon name="github" size={24} />
            <span class="ml-1">{socials.github.replace('https://github.com/', '')}</span>
          </a>
        </dd>
      </>
    )
  }
  {
    socials.website && (
      <>
        <dt class="sr-only">Website</dt>
        <dd>
          <a
            class="h flex items-center transition text-gray-700 hover:text-gray-800"
            target="_blank"
            rel="noopener noreferrer"
            href={socials.website}
          >
            <Icon name="web" size={24} />
            <span class="ml-1">{socials.website.replace('https://', '').replace('/', '')}</span>
          </a>
        </dd>
      </>
    )
  }
</div>
