---
import type { CollectionEntry } from 'astro:content'

type AuthorSocials = Pick<
  CollectionEntry<'authors'>['data'],
  'github' | 'linkedin' | 'medium' | 'twitter' | 'website'
>

interface Props {
  socials: AuthorSocials
  name: string
}

const { socials, name } = Astro.props
---

<div class="flex flex-wrap gap-4">
  {
    socials.linkedin && (
      <>
        <dt class="sr-only">LinkedIn</dt>
        <dd>
          <a
            class="h flex items-center transition text-gray-700 hover:text-gray-800"
            target="_blank"
            rel="noopener noreferrer"
            href={socials.linkedin}
          >
            <span class="sr-only">linkedin</span>
            <svg
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-gray-700 hover:text-blue-500 dark:text-gray-200 dark:hover:text-blue-400 fill-current"
            >
              <path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433a2.062 2.062 0 0 1-2.063-2.065 2.064 2.064 0 1 1 2.063 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z" />
            </svg>
            <span class="ml-1">{name}</span>
          </a>
        </dd>
      </>
    )
  }
  {
    socials.twitter && (
      <>
        <dt class="sr-only">Twitter</dt>
        <dd>
          <a
            class="h flex items-center transition text-gray-700 hover:text-gray-800"
            target="_blank"
            rel="noopener noreferrer"
            href={socials.twitter}
          >
            <span class="sr-only">twitter</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="h-5 w-5 text-gray-700 hover:text-blue-500 dark:text-gray-200 dark:hover:text-blue-400 fill-current"
            >
              <path d="M23.953 4.57a10 10 0 0 1-2.825.775 4.958 4.958 0 0 0 2.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 0 0-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 0 0-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 0 1-2.228-.616v.06a4.923 4.923 0 0 0 3.946 4.827 4.996 4.996 0 0 1-2.212.085 4.936 4.936 0 0 0 4.604 3.417 9.867 9.867 0 0 1-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 0 0 7.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0 0 24 4.59z" />
            </svg>
            <span class="ml-1">{socials.twitter.replace('https://twitter.com/', '@')}</span>
          </a>
        </dd>
      </>
    )
  }
  {
    socials.github && (
      <>
        <dt class="sr-only">Github</dt>
        <dd>
          <a
            class="h flex items-center transition text-gray-700 hover:text-gray-800"
            target="_blank"
            rel="noopener noreferrer"
            href={socials.github}
          >
            <span class="sr-only">github</span>
            <svg
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-gray-700 hover:text-blue-500 dark:text-gray-200 dark:hover:text-blue-400 fill-current"
            >
              <path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12" />
            </svg>
            <span class="ml-1">{socials.github.replace('https://github.com/', '')}</span>
          </a>
        </dd>
      </>
    )
  }
  {
    socials.website && (
      <>
        <dt class="sr-only">Website</dt>
        <dd>
          <a
            class="h flex items-center transition text-gray-700 hover:text-gray-800"
            target="_blank"
            rel="noopener noreferrer"
            href={socials.website}
          >
            <span class="sr-only">website</span>
            <svg
              fill="currentColor"
              viewBox="0 0 24 24"
              class="h-5 w-5 text-gray-700 hover:text-blue-500 dark:text-gray-200 dark:hover:text-blue-400 fill-current"
            >
              <path d="M16.36 14c.08-.66.14-1.32.14-2 0-.68-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2m-5.15 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95a8.03 8.03 0 0 1-4.33 3.56M14.34 14H9.66c-.1-.66-.16-1.32-.16-2 0-.68.06-1.35.16-2h4.68c.09.65.16 1.32.16 2 0 .68-.07 1.34-.16 2M12 19.96c-.83-1.2-1.5-2.53-1.91-3.96h3.82c-.41 1.43-1.08 2.76-1.91 3.96M8 8H5.08A7.923 7.923 0 0 1 9.4 4.44C8.8 5.55 8.35 6.75 8 8m-2.92 8H8c.35 1.25.8 2.45 1.4 3.56A8.008 8.008 0 0 1 5.08 16m-.82-2C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2 0 .68.06 1.34.14 2M12 4.03c.83 1.2 1.5 2.54 1.91 3.97h-3.82c.41-1.43 1.08-2.77 1.91-3.97M18.92 8h-2.95a15.65 15.65 0 0 0-1.38-3.56c1.84.63 3.37 1.9 4.33 3.56M12 2C6.47 2 2 6.5 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2Z" />
            </svg>
            <span class="ml-1">{socials.website.replace('https://', '').replace('/', '')}</span>
          </a>
        </dd>
      </>
    )
  }
</div>
