---
import { Icon } from 'astro-icon/components';

interface Props {
  kind: string;
  href: string;
  title?: string;
  size: number;
}

const { kind, href, size, title } = Astro.props;
---

<a target="_blank" rel="noopener noreferrer" href={href} title={title}>
  <Icon name={kind} size={size} title={title} />
</a>

<style>
  a {
    @apply transition text-gray-700 hover:text-blue-500 dark:text-gray-200 dark:hover:text-blue-400;
  }
</style>
