---
import { Image } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";

import type { CollectionEntry } from "astro:content";

interface Props {
  article: CollectionEntry<"articles">;
  series: CollectionEntry<"articles">[];
  authors: CollectionEntry<"authors">[];
}

const { article, series, authors } = Astro.props;
---

<BaseLayout pageTitle={article.data.title} pageDescription={article.data.summary}>
  <article>
    <ul class="layout__authors">
      {
        authors.map((author) => (
          <li>
            {author.data.name}
            {author.data.avatar && (
              <Image src={author.data.avatar} alt={author.data.name} />
            )}
          </li>
        ))
      }
    </ul>

    {
      series && (
        <ul class="layout__series">
          {series.map((serie) => (
            <li>
              <a href={`/articles/${serie.slug}`}>{serie.data.title}</a>
            </li>
          ))}
        </ul>
      )
    }

    <slot />
  </article>
</BaseLayout>
