---
import { Icon } from 'astro-icon/components';

import { Markdown } from '@astropub/md';
import ScrollTopButton from '@components/ScrollTopButton.astro';
import Author from '@components/article/Author.astro';
import Header from '@components/article/Header.astro';
import { getRelatedJobs } from '@utils/jobs';
import type { CollectionEntry } from 'astro:content';
import JobGrid from '../components/Jobs.astro';
import BaseLayout from './BaseLayout.astro';

interface Props {
  nextSeries: CollectionEntry<'series'>;
  previousSeries: CollectionEntry<'series'>;
  authors: CollectionEntry<'authors'>[];
  series: CollectionEntry<'articles'>;
}

const { series, authors, nextSeries, previousSeries } = Astro.props;
const searchString = authors.map(({ data }) => data.occupation).join(' ');
const { jobs } = getRelatedJobs(4, searchString);
---

<BaseLayout title={series.data.title} description={series.data.summary}>
  <ScrollTopButton />
  <Header article={series} authors={authors} />
  <article class="grid grid-cols-3 gap-4">
    <div>
      <ul>
        {
          authors.map((author) => (
            <>
              <li class="my-2">
                <Author author={author} />
              </li>
            </>
          ))
        }
      </ul>

      {
        (previousSeries || nextSeries) && (
          <div class="flex justify-between py-4 xl:block xl:space-y-8 xl:py-8">
            {previousSeries && (
              <div>
                <h2 class="text-xs uppercase tracking-wide text-gray-500 dark:text-gray-400">
                  Previous Series
                </h2>
                <div>
                  <a href={`/series/${previousSeries.slug}`}>
                    <Markdown of={previousSeries.data.title} />
                  </a>
                </div>
              </div>
            )}
            {nextSeries && (
              <div>
                <h2 class="text-xs uppercase tracking-wide text-gray-500 dark:text-gray-400">
                  Next Series
                </h2>
                <div>
                  <a href={`/series/${nextSeries.slug}`}>
                    <Markdown of={nextSeries.data.title} />
                  </a>
                </div>
              </div>
            )}
          </div>
        )
      }

      <div class="pt-4 xl:pt-8">
        <a
          href="/series"
          class={`relative inline-flex rounded-full border border-black py-4 px-9 text-base font-bold leading-none transition-colors delay-100 hover:bg-black hover:text-white`}
        >
          <Icon name="arrow" class="mr-4 w-6 rotate-180" />
          Back to all series
        </a>
      </div>
    </div>

    <div class="col-span-2">
      <slot />
    </div>
  </article>

  <div class="container mx-auto space-y-2 pt-6 pb-8 md:space-y-5">
    <h2
      class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14"
    >
      Jobs
    </h2>
    <JobGrid jobs={jobs} />
  </div>
</BaseLayout>
